/* cart.css */

.cart-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px); /* Subtracting the height of the header */
  background-image: url('https://t4.ftcdn.net/jpg/01/98/50/63/360_F_198506301_zS7IDI4YU7kW0zFVagjTwl8AVI7lZvjP.jpg'); /* Add the path to your background image */
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #fff; /* Set text color to white for better readability */
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-item-name {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.cart-item-price {
  font-size: 1rem;
  color: #888;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.quantity-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.remove-btn {
  background-color: white;
}

.total {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer {
  margin-top: auto; /* Push the footer to the bottom */
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}
.place-order-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.place-order-btn:hover {
  background-color: orange;
}
