/* home.css */

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.product-description {
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
}

.add-to-cart-btn {
  background-color: orange;
  color: orange;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
  background-color: orange;
}
/* home.css */

.home-container {
  background-image: url('https://t3.ftcdn.net/jpg/02/05/87/60/360_F_205876015_hYYs7ugqoU8QAobSS3TbnGQ92qyS5gEc.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
}
